.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
  padding: 0;
}

.header {
  margin: auto;
  position: relative;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  display: flex;
  background-color: #f2f2f2;
  overflow: hidden;
  /* выше установили ограничения для секции */
}

.logo {
  width: 183px;
  height: 32px;
  position: absolute;
}

.logo_place_header {
  background-image: url(../images/logo_place_header.svg);
  top: 30px;
  left: 64px;
}

.header__title {
  margin: 0 0 0 64px;
  width: 730px;
  font-size: 102px;
  line-height: 96px;
  align-self: center;
  z-index: 3;
}

.header__subtitle {
  margin: 0 auto;
  position: absolute;
  left: 64px;
  bottom: 30px;
  line-height: 25px;
  font-weight: normal;
  width: 388px;
  font-size: 18px;
  z-index: 2;
}

.header__link {
  text-decoration: none;
  color: #2f80ed;
}

.header__main-illustration {
  width: 765px;
  height: 608px;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
  object-fit: scale-down;
  object-position: right bottom;
}

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  position: absolute;
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
  top: 64px;
  right: 0;
  bottom: 0;
  z-index: 0;
}

.two-columns {
  display: flex;
  width: 80%;
  min-width: 784px;
  margin: 100px auto;
  color: #2f80ed;
  align-items: flex-start;
}

.two-columns__brief {
  min-width: 175px;
  line-height: 1.2;
  font-weight: normal;
  font-size: 18px;
  margin-right: 50px;
  margin-top: 0;
}

.two-columns__main-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.two-columns__paragraph {
  color: black;
  line-height: 34px;
  font-size: 24px;
  margin-top: 0;
  margin-bottom: 30px;
  font-weight: normal;
}

.two-columns__span-accent {
  font-weight: bold;
}

.section-title {
  width: 60%;
  text-align: center;
  font-size: 60px;
  font-weight: bold;
  margin: auto;
  z-index: 1;
}

.section-subtitle {
  font-size: 24px;
  text-align: center;
  font-weight: normal;
  margin: 20px 0 60px;
  z-index: 1;
}

.table {
  display: flex;
  width: 1100px;
  min-height: 400px;
  margin: auto;
  flex-wrap: wrap;
  justify-content: space-between;
}

.list {
  list-style: none;
}

.table__cell {
  width: 250px;
  margin-bottom: 60px;
}

.table__header {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

.table__text {
  font-size: 18px;
  margin-top: 20px;
  margin-bottom: 0;
  font-weight: normal;
}

.feynman {
  position: relative;
  margin-top: 100px;
  min-height: 890px;
  padding-top: 100px;
  background-color: #f2f2f2;
}

.feynman__title {
  margin: 0 auto;
  font-size: 120px;
  line-height: 1.15;
  font-weight: bold;
  width: 648px;
  z-index: 1;
  text-align: center;
}

.feynman__subtitle {
  position: relative;
  margin: 70px 0 0;
  font-size: 36px;
  line-height: 51px;
  font-weight: normal;
  z-index: 2;
  text-align: center;
}

.feynman__link {
  text-decoration: none;
  font-size: 36px;
  color: #2f80ed ;
  font-weight: normal;
  position: absolute;
  right: 48px;
  top: 50%;
}

.feynman__image {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 0;
}

.kaufman {
  padding: 90px 0;
  background-color: #1f1f1f;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
}

.section-title_theme_dark {
  color: white;
}

.section-subtitle_theme_dark {
  color: white;
  margin-bottom: 0;
}

/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin: 80px 0 0;
  z-index: 1;
}

.kaufman__triangle {
  background-image: url(../images/kaufman-triangle.svg);
  background-position: center;
  background-size: 877px;
  position: absolute;
  height: 877px;
  width: 877px;
  top: 0;
  right: -210px;
  z-index: 0;
}

.footer {
  background-color: #1f1f1f;
  min-height: 350px;
  display: flex;
}

.footer__columns {
  display: flex;
  margin: 60px auto 40px;
  position: relative;
  width: 90%;
  justify-content: space-between;
}

.footer__column {
  display: flex;
}

.footer__column_content_copyright {
  flex-basis: 711px;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.logo_place_footer {
  background-image: url(../images/logo_place_footer.svg);
  position: static;
  top: 30px;
  left: 64px;
}

.footer__author {
  color: white;
  font-size: 18px;
  line-height: 25px;
  margin: 0;
  padding: 18px 0;
}

.footer__column_content_info {
  max-width: 150px;
  flex-direction: column;
  flex-wrap: wrap;
}

.footer__column-heading {
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  color: white;
  margin-bottom: 20px;
  margin-top: 0;
}

.footer__column-links {
  display: flex;
  flex-direction: column;
  padding-bottom: 16px;
}

.footer__column-link {
  text-decoration: none;
  color: white;
  font-size: 18px;
  font-weight: normal;
  line-height: 30px;
}

.footer__column_content_social {
  min-width: 150px;
  flex-direction: column;
}

.footer__column-icon {
  margin-right: 10px;
}